*{
    box-sizing: border-box;
   }
/* BASE ELEMENTS */

form{
    background-color: black;
}



h1{
    color:black;
    background-color: #87ceeb;
    text-align: center;
    margin:0;
    padding: 30px 0 ;
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px #f27dfd;
    
}

h2,
h3,
h4,
p,
legend,
label{
    text-align: center;
    color:white;
    font-family: 'Kanit', sans-serif;
}

textarea{
    width: 98%;
    height: 100px;
    box-shadow: 2px 2px 1px 1px #f27dfd;
}

button{
    font-family: 'Kanit', sans-serif;
    
}

footer{
    background-color:#87ceeb;
    text-align: center;
    border: solid 3px #f27dfd;
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px #f27dfd;
    
}

/*PAGE ITEMS */

.description{  
    padding:0 30px 10px 30px;
    text-align: center;
    
}

.first-hr,
.third-hr{
    width: 90%;
    height: 1px;
    background-color:#87ceeb;
}

.second-hr{
    width: 100%;
    background-color:#87ceeb;
}

.card1{
    height:50px;
    padding: 10px;
    margin: 20px;
    width: 90%;
    border: solid  3px #87ceeb;
    border-radius: 12px;
    background-color:#f27dfd;
    transition-property:width ;
    transition-delay:.6s ;
    transition-duration: .5s;
    }


.card1:hover{
    width:55%;
}

.zip:hover{
    width:25%;
}

 .info,
.nLetter{
    font-size: 25px;
}

.info{
    padding: 25px 0 0 25px;
    text-align: left;
}

.nLetter{
    font-weight: bold;
    padding:5px 30px 0 0;
    text-align: left;
}

.select{
    text-align:left;
    font-size: 18px;
    
}


/* PAGE ELEMENTS */

.main-header{
    background-color: black;
    border: solid 3px #f27dfd;
}

.titles{
    padding: 25px 0 0 25px;
    display:block;
    text-align: left;
}

.btn{
    text-align: center;
    padding:35px 0;
    
    
}

.main-footer{
    padding:20px 0 60px 0;
}



/* pseudo */

input[name="user_zipcode"] {
    margin-right: 180px;
        width: 40%;
        
    }

label[for="topics"] {
    display: inline-block;
    margin: 20px 0 10px 0;
}

input[type="checkbox"]{
    margin: 10px 0 10px 0;
    }

input[type="radio"]{
    margin: 10px 0 10px 0;
    }

button[type="submit"]{
        
        margin:auto 0;
        padding: 15px 25px;
        background-color:#f27dfd;
        border: solid  3px #87ceeb;
        border-radius: 50px;
        font-weight: bold;
        width: 90%;
        
        }

::placeholder{
   
    font-weight:bold;
}

input:focus,
select:focus {
    border: 2px solid rgb(36, 222, 246);
    background:white;
    outline: none;
    transition: width 2s;
    }

input:required:focus {
    border: 1px solid red;
    background:white;
    outline: none;}







/* MEDIA QUERIES */

@media (min-width: 768px){

  .wrapper{
        
        margin:auto;
        width: 50%;
        
   }

   .sub-header{
      padding:40px 0 20px 0;
   }

   

   .prt1{
      display:flex;
     justify-content: space-between;
     flex-wrap: wrap;
     
    
     }

     .prt1 input,
     .prt1 select{
         width:50%;      
         margin-bottom:20px;
     }

     .titles{
         text-align: left;
         margin-top:10px;
     }

     input[name="user_zipcode"] {
        margin-right: 33%;
            width: 20%;
        }

    .format{
      margin-top:10px;

    }
  
    .first-hr,
    .second-hr{
        width: 90%;
        
    }
    .third-hr{
        margin-top:30px;
        width: 100%;
    }

}
    



